<h1>Sign Up</h1>

<!-- create an action for the below route -->
<form action="/users/create" method="POST" id="sign-up-form">
    <input type="text" name="name" placeholder="Your Name" required>
    <br>
    <input type="email" name="email" placeholder="Your Email" required>
    <br>
    <input type="password" name="password" placeholder="Your Password" required>
    <br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <br>
    <input type="submit" value="Sign Up"> <!--value is the text which appears on the button-->
</form>