<h1>Sign In</h1>

<form action="/users/create-session" method="POST" id="sign-in-form">
    <input type="email" name="email" placeholder="Email" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="submit" value="Sign In"> <!--value rep the text which appears on the button-->
</form>